/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 240, 245, 255;
  --background-end-rgb: 230, 240, 250;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 10, 20, 40;
  --background-end-rgb: 15, 25, 45;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    )
    fixed;
}

/* Smooth transitions for theme changes */
body,
div,
header,
footer,
main,
section,
article,
input,
button {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-duration: 200ms;
}
